.error {
  color: #f95b4b;
}

html, * {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,.logo {
  font-weight: 300;
}

header .username {
  padding: calc(2 * var(--universal-padding)) calc(2 * var(--universal-padding));
}

nav {
  border-top: 0px !important;
}

nav h4 {
  margin: 10px 0px 10px 0px;
}
nav a {
  margin-left: 10px;
  font-weight: 600;
}

button.primary {
  --button-back-color: #199ec0;
}

button.primary {
  --button-hover-back-color: #1b83a7 !important;
}

header, header .logo, .drawer-toggle {
  background-color: #35454e !important;
  color: white !important;
}

table th {
  background-color: #5785a0;
  color: white;
}
